/* font link */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,500;1,500&family=Shadows+Into+Light&family=Yellowtail&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* carousel caption data start */
.carousel-caption h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 85px;
}
.carousel-caption p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #F4F4F4;
}
/* carousel caption data end */
/* course data start */
.course-exlore-section{
    background: #F4FAFD;
}
.course h2{
    color: #1D1D1D;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
}
.course p{
    color: #777777;
}
.course-data h5{
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #4A4A4A;
}
.course-data p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}
/* course data end */
/* Explore Institute start */
.institute h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}
.institute p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
.course-review h2{
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}
.course-review p{
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}
/* Explore Institute end */
.register-btn{
    background-color: #F4F4F4;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #289BDE;
}